.fun-message {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #9e77d2; /* Adjust the color as needed */
    color: #fff; /* Adjust the color as needed */
    padding: 10px;
    text-align: center;
  }
  
  .fun-message p {
    margin: 0;
  }
  
  .fun-message button {
    background-color: white; /* Adjust the color as needed */
    color: #9e77d2; /* Adjust the color as needed */
    border: none;
    border-radius:3px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
  }