
.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .goal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10%;
    height: 30vh;
  }

  .about-us-left {
    text-align: center;
    margin-right: 5%; 
    padding: 10px;
    max-width:50%;
    margin-left: 5%;
  }

  .about-us-left div {
    margin-bottom: 20px; /* Adjust the spacing as needed */
  }
  .about-us-right {
    margin-right: 30px; /* Adjust the spacing as needed */
  }

  .about-us-left h2 {
    margin-bottom: 10px; /* Adjust the spacing as needed */
  }
@media only screen and (max-width: 768px) {
    .about-us-left {
        max-width:100%;
      }
      .about-us-left p {
       font-size: smaller; /* Adjust the spacing as needed */
      }
      .about-us-left h2 {
        font-size:large; /* Adjust the spacing as needed */
       }
       .about-us-container {
        height: 60vh;
      }
      .goal-container {
        height: 25vh;
      }
}

@media only screen and (max-width: 400px) {
    .about-us-left {
        max-width:100%;
      }
      .about-us-left p {
       font-size: xx-small; /* Adjust the spacing as needed */
      }
      .about-us-left h2 {
        font-size:small; /* Adjust the spacing as needed */
       }
       .about-us-container {
        height: 60vh;
      }
      .goal-container {
        height: 20vh;
      }
}