.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .container img {
    width: 200px;
    margin-right:10%;
}

@media only screen and (max-width: 768px) {
    .container img {
        width: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .container img {
        width: 100px;
    }
}